* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
 }

.board{
/*     background-color: blue; */
    height: 100vh;
}
#task_input {
    display: block;
    margin: 20px auto;
    font-size: large;
    
}

.board > ol{
    list-style: none;
    
    display: flex;
    flex-direction: row; 
    align-items: flex-start;
    justify-content: start;
}


/* TASK LIST */

.list{
    background-color: red;
    border-radius: 3px;
    margin: 20px;
    overflow: hidden;
    width: 320px;
}

.list_body > ol{
    list-style: none;
}

.list_header{
    background-color: orange;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.list_header_menu:before{
    background-color: green;
    content: '...';
    border-radius: 50%;
}

.list_header_menu{
    width: 30px;
    height: 30px;
}

.list_header_menu > li{
    display: none;
}

.task_mini{
    background-color: blue;
    border-radius: 3px;
    margin: 20px;
}