:root{
/*     --main-color: #ffccee; */
    --main-color: #d5d5d5;
    
    --icon-size: 30px;
    --icon-border: 2px solid var(--main-color);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
 }

.board{
/*     background-color: blue; */
    height: 100vh;
    font-family: sans-serif;
}
#task_input {
    display: block;
    margin: 20px auto;
    font-size: large;
}

.board > ol{
    list-style: none;

    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: start;
}


/* TASK LIST */

.list{
    border: 2px solid var(--main-color);
    border-radius: 3px;
    margin: 20px;
    overflow: hidden;
    width: 320px;
}

.list_body > ol{
    list-style: none;
}

.list_header{
    background-color: var(--main-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.list_header_menu{
    display: none; 
}

.btn_list_header_menu{
    background-image: url("/icons/menu.svg");
    border: 2px solid black;
}

.btn_list_header_menu,.btn_task_delete{
    background-color: transparent;
    background-size: cover;

    border: var(--icon-border);

    min-width: var(--icon-size);
    min-height: var(--icon-size);
}


.list_header_menu > li{
}

.task_mini{
    border: 2px solid var(--main-color);
    border-radius: 3px;
    margin: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.btn_task_delete{
    background-image: url("/icons/trash.svg");
}

.task_mini_head{
    font-size: medium;
    display: inline;
    margin-right: 10px;
}

.btn_task_delete:hover{
    border-color: red;
}
